#cards-emprestimos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    padding: 20px;
}

.card-emprestimo {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card-emprestimo:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.emprestimo-informacoes {
    padding: 15px;
}

.codigo {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.livro, .usuario, .data_dev_prev, .data_dev {
    font-size: 14px;
    color: #555;
}

