<!--Qualquer pessoa acessa o site e vê os livros que há na biblioteca -->
<!--Nessa página há um exibir livros e existe a possibilidade de pesquisar pela lupa, apenas-->
<!--E há o redericionamento para a página de login -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Portal do Saber</title>
</head>

<body>
    <nav id="nav-bar">
        <!--Titulo-->
        <h1 id="title">Portal do Saber</h1>

        <!--Barra de Pesquisa-->
        <form>
            <div class="input-caixa">
                <input type="text" name="titulo" id="titulo" placeholder="Digite o livro procurado">
            </div>
            <button class="pesquisa-button" onclick="pesquisar_livro(event)">Buscar</button>
        </form>

        <!--Parte de selecionar a categoria-->
        <form>
            <div class="input-caixa">
                <label for="categoria">Categoria: </label>
                <select id="categoria">
                    <!-- As opções serão carregadas aqui dinamicamente -->
                </select>
            </div>
        </form>

        <a href="/login">Login</a>
    </nav>

    <main id="container">
        <div id="cards-livros">
            <!--Aqui os cards dos livros serão eibidos dinamicamente-->
        </div>
    </main>

    <footer id="rodape">
        <hr>
    </footer>
    
    <script src="/public/js/constantes.js"></script>
    <script src="/public/js/scripts.js"></script>

    <script>
        const tipo = "comum";
        sessionStorage.setItem("tipo", tipo)
        window.onload = function () {
            exibir_livros(); //Carrega os livros ao iniciar
            exibir_categorias(); // Carrega as categorias ao iniciar
            configurar_filtro();
        };
    </script>
</body>

</html>