<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Portal do saber - funcionarios </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="public/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg shadow-sm mb-3">
        <div class="container">
            <div id="menu_oculto" class="menu_oculto">
                <a href="javascript:void(0)" class="btn_fechar" onclick="fechar_menu()"><i class="bi bi-x"></i></a>
                <a href="#" id="pag_atual">Home</a>
                <a href="usuarios.html">Usuários</a>
                <a href="emprestimos.html">Empréstimos</a>
                <a href="login.html"><i class="bi bi-box-arrow-right"></i>Sair</a>
            </div>


            <section id="principal">
                <span style="font-size: 30px; cursor:pointer" onclick="abrir_menu()"><i class="bi bi-list"></i></span>
            </section>

            <a class="navbar-brand" id="title" href="#"><strong>Portal do Saber</strong></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <!-- usado para fastar a barra de pesquisa e o icone, precisa mudar! -->
                    </li>
                </ul>

                <div class="ml-auto">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <form class="d-flex justify-content-center justify-content-md-start mb-4 mb-md-0">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Digite aqui o que procura">
                                    <button class="btn" style="background-color: #148dbd;">
                                        Buscar
                                    </button>
                                </div>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a href="login.html" class="nav-link" style="color: #107faa;">
                                <!--colocar pagina para o usuario ver suas informações de login-->
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                    <path fill-rule="evenodd"
                                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="card-container" id="livros-container">
        <!--Os cartões com os livros vão ficar aqui-->
    </div>

    <!--<div class="container">
        <div class="row">
            <div class="col-4">
                <h2>Filtrar por:</h2>
                <h4>Categorias</h4>
                <div class="generos">
                    <a href="#">Fantasia</a> </br>
                    <a href="#">Romance</a> </br>
                    <a href="#">Infantil</a> </br>
                    <a href="#">Drama</a> </br>
                </div>
            </div>
            <div class="col-6">
                <div class="card" style="width: 18rem;">
                    <img src="img/eu_e_esse_meu_coracao.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Eu e esse meu coração</h5>
                      <p class="card-text">Autor(a): C. C. Hunter <br> Editora: Editora Jangada <br> Ano de publicação: 2018</p>
                      <a href="#" class="btn btn-info"><i class="bi bi-bookmark-fill"></i></a>
                      <a href="#" class="btn btn-info"><i class="bi bi-bookmark-dash-fill"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>-->


    <div class="rodape">
        <!-- Button trigger modal -->
        <button id="botao_add_emp" type="button" class="btn btn-info btn-lg" data-bs-toggle="modal"
            data-bs-target="cadastrar_livro"><i class="bi bi-file-earmark-plus-fill"></i></button>

        <!-- Modal -->
        <div class="modal fade" id="cadastrar_livro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="cadastrar_livroLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="cadastrar_livroLabel">Cadastrar Livro</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <!--<div class="mb-3">
                            <label for="imagem" class="form-label">Imagem do livro: </label>
                            <input type="file" id="imagem" class="form-control" aria-label="imagem" name="imagem" required>
                        </div>-->
                            <div class="mb-3">
                                <label for="titulo" class="form-label">Título: </label>
                                <input type="text" id="titulo" class="form-control" placeholder="Título" name="titulo" required>
                            </div>
                            <div class="mb-3">
                                <label for="autor" class="form-label">Autor(a): </label>
                                <input type="text" id="autor" class="form-control" placeholder="Autor(a)" name="autor"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label for="editora" class="form-label">Editora: </label>
                                <input type="text" id="editora" class="form-control" placeholder="Editora"
                                    name="editora" required>
                            </div>
                            <div class="mb-3">
                                <label for="ano_public" class="form-label">Ano Publicação: </label>
                                <input type="number" id="ano_public" class="form-control" name="ano_public" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="categoria">Categoria: </label>
                                <select class="form-select" id="categoria" name="categoria">
                                    <option value=1>Romance</option>
                                    <option value=3>Comédia</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="descricao" class="form-label">Descrição: </label>
                                <textarea class="form-control" id="descricao" rows="3"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" onclick="salvar_livro()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="removerItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_remover_livroLabel">Remover Livro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja remover o Livro com o id: <span id="id_remover"></span>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="remover_livro_button">Remover</button> 
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AdicionarEmprestimo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AdicionarEmprestimo">Adicionar Empréstimo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="modal-id_livro" class="form-label">Id do livro: </label>
                            <input type="number" id="modal-id_livro" class="form-control" placeholder="Id do livro" value="${livro.id_livro}">
                        </div>
                        <div class="mb-3">
                            <label for="modal-cpf" class="form-label">CPF: </label>
                            <input type="number" id="modal-cpf" class="form-control" placeholder="CPF" value="${livro.cpf}">
                        </div>
                        <div class="mb-3">
                            <label for="modal-data_emprestimo" class="form-label">Data do emprestimo: </label>
                            <input type="number" id="modal-data_emprestimo" class="form-control" placeholder="Data do emprestimo" value="${livro.data_emprestimo}" required>
                        </div>
                        <div class="mb-3">
                            <label for="modal-data_devolucao_prevista" class="form-label">Data prevista para devolução: </label>
                            <input type="number" id="modal-data_devolucao_prevista" class="form-control" placeholder="Data prevista para devolução" value="${livro.data_devolucao_prevista}" required>
                        </div>
                </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="Adicionar_emp_button">Salvar</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="./menu.js"></script>
    <script>
        
        const base_url = "http://localhost:3000/livros";

        //Solicitação Get
        fetch(`${base_url}`)
            .then(response => response.json())
            .then(json => renderizar_livros(json));

        //Solicitação Get com categoria
        fetch(`${base_url}/categoria`)
            .then(response => response.json())
            .then(json => renderizar_livros(json));

        //Solicitação Get com ID
        fetch(`${base_url}/id_livro`) //id
            .then(response => response.json())
            .then(json => renderizar_livros(json));

        function alterar_status_livro(id_livro, status_atual) {
            // Inverte o estado de "disponível"
            const novo_status = !status_atual;

            // Envia a solicitação PUT para atualizar o estado do livro
            fetch(`${base_url}/${id_livro}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ disponivel: false })  // Atualiza apenas o status
            })
                .then(response => response.json())
                .then(json => {
                    if (json.success) {
                        // Atualiza a interface para refletir a mudança
                        alert(`Status do livro alterado para false.`);
                        fetch_livros();  // Recarrega os livros para refletir as mudanças
                    } else {
                        alert('Erro ao alterar status.');
                    }
                })
                .catch(error => {
                    console.error('Erro ao atualizar status do livro:', error);
                    alert('Erro ao atualizar status.');
                });
        }

        function preencherModalDeletar(id_livro) {
            // Preencher o CPF no modal de remoção
            document.getElementById('remover_livro_button').textContent = id_livro;

            // Mostrar o modal de remoção
            const modal = new bootstrap.Modal(document.getElementById('removerItem'));
            modal.show();
        }

        //POST
        function salvar_livro() {
            //const imagem = document.getElementById('imagem').value;
            const titulo = document.getElementById('titulo').value;
            const autor = document.getElementById('autor').value;
            const editora = document.getElementById('editora').value;
            const ano_publicacao = document.getElementById('ano_public').value;
            const categoria = document.getElementById('categoria').value;
            const descricao = document.getElementById('descricao').value;

            if (!titulo || !ano_publicacao || !categoria) {
                alert("Preencha todos os campos!");
                return;
            }

            fetch(`${base_url}`, {
                method: 'POST',
                body: JSON.stringify({ titulo, autor, editora, ano_publicacao, categoria, descricao}),
                headers: { 'Content-Type': 'application/json' }
            })
                .then(response => response.json())
                .then(json => {
                    alert(json.message);
                    if (json.success) {
                        // Fechar o modal e atualizar a lista de livros
                        const modal = bootstrap.Modal.getInstance(document.getElementById('cadastrar_livro'));
                        modal.hide();
                        fetch_usuarios(); // Atualiza os cards de livro
                    }
                });
        }

        //Solicitação DELETE
        function deletar_livro() {
            const id_livro = document.getElementById('id_remover').textContent; //é esse id? id_remover = livro.id_livro no link remover

            fetch(`${base_url}/${id_livro}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(json => {
                    alert(json.message);
                    if (json.success) {
                        // Fechar o modal e atualizar a lista de livros
                        const modal = bootstrap.Modal.getInstance(document.getElementById('removerItem'));
                        modal.hide();
                        fetch_usuarios(); // Atualiza os cards de livro
                    }
                })
                .catch(error => console.error('Erro ao deletar Livro:', error));
        }

        //Adicionar emprestimo
        function adicionar_emprestimo() {
            const id_livro = document.getElementById('modal-id_livro').value;
            const cpf = document.getElementById('modal-cpf').value;
            const data_emprestimo = document.getElementById('modal-data_emprestimo').value;
            const data_devolucao_prevista = document.getElementById('modal-data_devolucao_prevista').value;

            fetch('http://localhost:3000/emprestimos', {
                method: 'POST',
                body: JSON.stringify({ id_livro, cpf, data_emprestimo, data_devolucao_prevista }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(json => alert(json.message));
        }

        //Função para buscar os livros e renderizar os cartões
        function fetch_livros() {
            fetch('${base_url}')
                .then(response => response.json())
                .then(json => renderizar_livros(json))
                .catch(error => {
                    console.error("Erro ao buscar Livros:", error);
                    alert("Erro ao buscar Livros.");
                });
        }

        //Função para buscar os livros e renderizar os cartões
        function renderizar_livros(json) {
            //Referência para o container onde os cartões serão inseridos
            const container = document.getElementById('livros-container');
            const div = document.createElement('div');

            container.appendChild(div);

            if (!json) return;
            else if (json instanceof Array)
                json.forEach(livro => {
                    //Criar o elemento do cartão
                    const card = document.createElement('div');
                    card.classList.add('card', 'mb-3');

                    //Criar o conteúdo do cartão
                    const cardBody = document.createElement('div');
                    cardBody.classList.add('card-body');
                    card.appendChild(cardBody);

                    //const imagem = document.createElement('img');
                    //imagem.scr = livro.imagem;
                    //imagem.classList.add('card-img-top');

                    const titulo = document.createElement('h5');
                    titulo.textContent = livro.titulo;
                    titulo.classList.add('card-title');

                    const autor = document.createElement('p');
                    autor.textContent = livro.autor;
                    autor.classList.add('card-text');

                    const editora = document.createElement('p');
                    editora.textContent = livro.editora;
                    editora.classList.add('card-text');

                    const ano_public = document.createElement('p');
                    ano_public.textContent = livro.ano_public;
                    ano_public.classList.add('card-text');

                    const categoria = document.createElement('p');
                    categoria.textContent = livro.categoria;
                    categoria.classList.add('card-text');

                    const descricao = document.createElement('p');
                    descricao.textContent = livro.descricao;
                    descricao.classList.add('card-text');

                    const status = document.createElement('p');
                    status.textContent = livro.disponivel;
                    status.classList.add('card-text');

                    const alterarStatusButton = document.createElement('a');
                    alterarStatusButton.href = '#';
                    alterarStatusButton.classList.add('btn', 'btn-sucess');
                    alterarStatusButton.textContent = 'Disponível';
                    alterarStatusButton.onclick = () => {
                        // Chama a função para mudar o status
                        alterar_status_livro(livro.id_livro, livro.disponivel);
                    }

                    const link_remover_livro = document.createElement('a');
                    link_remover_livro.href = '#';
                    link_remover_livro.classList.add('btn', 'btn-danger', 'btn-sm', 'ms-2');
                    link_remover_livro.textContent = 'Remover o livro';
                    link_remover_livro.setAttribute('data-bs-toggle', 'modal');
                    link_remover_livro.setAttribute('data-bs-target', `#removerItem`);
                    link_remover_livro.onclick = () => {
                        document.getElementById("id_remover").innerText = livro.id_livro;
                        const remover_livro_button = document.getElementById("remover_livro_button");
                        remover_livro_button.onclick = () => {
                            deletar_livro(livro.id_livro);
                        }
                        //document.getElementById("remover_livro_button").addEventListener("click", () => {
                            //alert(livro.id_livro)
                        //})

                        const modalElementDeletar = document.getElementById(`removerItem`);
                        const modal_remover_livro = new bootstrap.Modal(modalElementDeletar);
                        modal_remover_livro.show();
                    }

                    const link_adicionar_emprestimo = document.createElement('a');
                    link_adicionar_emprestimo.href = '#';
                    link_adicionar_emprestimo.classList.add('btn', 'btn-info');
                    link_adicionar_emprestimo.textContent = 'Adicionar empréstimo';
                    link_adicionar_emprestimo.onclick = () => {
                        const Adicionar_emp_button = document.getElementById("Adicionar_emp_button");
                        Adicionar_emp_button.onclick = () => {
                            adicionar_emprestimo(livro.id_livro);
                        }
                        //const modalElementAddEmp = document.getElementById(`modal_adicionar_emprestimo`);
                        //const modal = new bootstrap.Modal(modalElementAddEmp); // Cria uma instância para o modal
                        //modal.show(); //exibe o modal
                    }

                    //Montando o card com o conteúdo
                    //cardBody.appendChild(imagem);
                    cardBody.appendChild(titulo);
                    cardBody.appendChild(autor);
                    cardBody.appendChild(editora);
                    cardBody.appendChild(ano_public);
                    cardBody.appendChild(categoria);
                    cardBody.appendChild(descricao);
                    cardBody.appendChild(alterarStatusButton);
                    cardBody.appendChild(link_remover_livro);
                    cardBody.appendChild(link_adicionar_emprestimo);

                    container.appendChild(card);
                });
            else {
                //Criar o elemento do cartão
                const card = document.createElement('div');
                card.classList.add('card');

                //Criar o conteúdo do cartão
                //const imagem = document.createElement('h5');
                //imagem.scr = json.imagem;

                const titulo = document.createElement('p');
                titulo.textContent = `Titulo: ${json.titulo}`;

                const autor = document.createElement('p');
                autor.textContent = `Autor: ${json.autor}`;

                const editora = document.createElement('p');
                editora.textContent = `Editora: ${json.editora}`;

                const ano_public = document.createElement('p');
                ano_public.textContent = `Ano de publicação: ${json.ano_public}`;

                div.appendChild(card);
            }
        }
    </script>
</body>

</html>